$color_of_text: rgba(70, 74, 63, 1);
$color_of_text_hover: rgb(81, 74, 64);

$color_of_text_on_dark: #fff8dc;

$color_text_of_menu: rgba(255, 255, 255, 1);
$color_text_of_menu_hover: rgb(64, 81, 79);

$color_of_text_btn: #FFF;

$color_of_arrows: #337ab7;

$bg_secondary: #7d9c9c;

$bg_of_menu: rgba(35, 35, 31, 0.8);
$bg_wrapper_of_menu: rgba(20, 31, 29, 0.6);

$bg_of_btn_book: #9cc5c6;